{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
         <div class="col-lg-4 col-xs-6">
            <form class="form-inline" action="/admin/buffer/" enctype='multipart/form-data' method='POST'>
                <div class="row">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary btn-sm">查询</button>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                       UserId： 
                    </div>

                    <div class="input-group input-group-sm mb-3">
                       <select class="form-control" id="user_id" name="user_id" value="user">
                            {% for i in range(0, 16) %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                         </select>
                    </div>
                </div>
            
            </form>
      </div>
    </div>
    </br>
    <div class="row">
        <div class="col-lg-4 col-xs-6">
            <small>
                <li>当前用户： {{ user}}</li>
                <li>共有 {{ g_stat['total'] }} 个CK,  共有 {{ total_renqi}} 人气</li>
                <li>总请求数： {{ g_stat['req'] }}， 重复请求： {{ g_stat['rereq'] }} , 分配成功： {{ g_stat['asigned'] }} , 分配失败： {{ g_stat['none'] }}</li>
            </small>
        </div>

        <div class="col-lg-5 col-xs-6">
            <form class="form-inline" action="/admin/buffer/alloc_renqi?user={{ user }}" enctype='multipart/form-data' method='POST'>
                <div class="row">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary btn-sm">分配CK</button>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                       需求人气： 
                    </div>

                    <div class="input-group input-group-sm mb-3">
                       <input type="text" class="form-control" placeholder="ID Index Begin" value="0" name="renqi_req" size="5" />
                    </div>
                </div>
            
            </form>
        </div>

        <div class="col-md-2">
            <form action="/admin/buffer/buffer_clear?user={{ user }}" enctype='multipart/form-data' method='POST'>
                <div class="row">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary btn-sm">清空缓存</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!--
t['id']       = record[0]
        t['seq']      = records[0]
        t['nickname'] = record[2]
        t['password'] = record[3]
        t['regtime']  = datetime.datetime.fromtimestamp(record[4])
        t['uptime']   = datetime.datetime.fromtimestamp(record[5])
        t['cookie']   = record[9]
-->
</br>
<div class="table-responsive-lg">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">ID.</th>
          <th scope="col">seq</th>
          <th scope="col">nickname</th>
          <th scope="col">password</th>
          <th scope="col">group</th>
          <th scope="col">radio</th>
          <th scope="col">regtime</th>
          <th scope="col">uptime</th>
          <th scope="col">cookie</th>
        </tr>
      </thead>
      <tbody>
      {% for record in cookie_records %}
        <tr>
          <th scope="row">{{ record['id'] }}</th>
          <td>{{ record['seq'] }}</td>
          <td>{{ record['nickname'] }}</td>
          <td>{{ record['password'] }}</td>
          <td>{{ record['grp'] }}</td>
          <td>{{ record['radio'] }}</td>
          <td>{{ record['regtime'] }}</td>
          <td>{{ record['uptime'] }}</td>
          <td>{{ record['cookie'] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock body %}
