<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>CK Console</title>
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
</head>
<body>
    <h1 align="center">CK分发器控制台</h1>
    <table id="table-4">
        <tr>
            <td width="600" align="left">
                <li>共有 {{ g_stat['total'] }} 个CK</li>
                <li>总请求数： {{ g_stat['req'] }}， 重复请求： {{ g_stat['rereq'] }} , 分配成功： {{ g_stat['asigned'] }} , 分配失败： {{ g_stat['none'] }}</li>
                </br>
                <li>启动时间：{{ g_stat['boot_ts'] }} </li>
                <li>重置时间：{{ g_stat['reset_ts'] }} </li>
            </td>
            <td width="400" align="left">
                <form action="/strapi/upload" enctype='multipart/form-data' method='POST'>
                <input type="submit" value="  上传CK  ">
                <input type="file" name="file">
                </form>
           			</br>
                <form action="/admin/set_room_id" enctype='multipart/form-data' method='POST'>
                    <input type="submit" value="  设置房间id  ">
                    <input name="room_id" size=18>
                </form>
           			</br>
                <form action="/admin/set_room_cnzz" enctype='multipart/form-data' method='POST'>
                    <input type="submit" value="  设置统计链接  ">
                    <input name="room_cnzz" size=80>
                </form>
            </td>
            <td width="100" align="left">
                <form action="/admin/act_reset" enctype='multipart/form-data' method='POST'>
                    <input type="submit" value="分配重置">
                </form>
                </br>
                <form action="/admin/act_clear" enctype='multipart/form-data' method='POST'>
                    <input type="submit" value="清空记录">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
